.about {
    position: absolute;
    width: 745px;
    height: 136px;
    left: 347px;
    top: 594px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
}