.about {
    /*     padding: 884px 348px 2039px 347px;
 */
    position: absolute;
    width: 144px;
    height: 62px;
    left: 648px;
    top: 884px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 62px;
    text-align: center;
    color: #FFFFFF;
    background-color: #342342;
}