.boxSkill {
    box-sizing: border-box;
    position: absolute;
    width: 1168px;
    height: 235px;
    left: 141px;
    top: 1679px;
    background: #212121;
    /* Gray 1 */
    border: 1px solid #333333;
}