            .button-s {
                position: absolute;
                width: 143px;
                height: 42px;
                left: 250px;
                top: 366px;
                background: #27AE60;
                margin-top: 50px;
                color: white;
            }
            
            .button-ns {
                box-sizing: border-box;
                position: absolute;
                width: 143px;
                height: 42px;
                left: 413px;
                top: 366px;
                background: #171717;
                border: 1px solid #F2F2F2;
                margin-left: 10px;
                margin-top: 50px;
                color: white;
            }