* {
    box-sizing: border-box;
}


/* Style the counter cards */

.card {
    padding: 10px;
    text-align: left;
    background-color: #212121;
    justify-content: space-between;
    margin-top: 1520px;
    margin-left: 80px;
    height: 190px;
}

.column {
    float: left;
    width: 25%;
}

.row {
    margin: 0 85px;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}