* {
    box-sizing: border-box;
}

.card {
    padding: 10px;
    text-align: left;
    background-color: #212121;
    justify-content: space-between;
    margin-top: 150px;
    margin-left: 80px;
    height: 190px;
}

.card4 {
    padding: 10px;
    text-align: center;
    justify-content: space-between;
    margin-top: 620px;
    margin-left: 60px;
    height: 190px;
}

.column4 {
    float: left;
    width: 20%;
}

.column {
    float: left;
    width: 25%;
}

.row {
    margin: 0 85px 20px;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}

.card-h {
    padding: 5px;
    text-align: center;
    justify-content: space-between;
    margin-top: 10px;
    margin-left: 200px;
    height: 180px;
}

.column-h {
    float: left;
    width: 20%;
}