.ellipse1 {
    position: absolute;
    width: 42px;
    height: 42px;
    left: 33px;
    top: 288px;
    margin-top: 970px;
    margin-left: 220px;
}

.ellipse2 {
    position: absolute;
    width: 42px;
    height: 42px;
    left: 33px;
    top: 288px;
    margin-top: 970px;
    margin-left: 520px;
}

.ellipse3 {
    position: absolute;
    width: 42px;
    height: 42px;
    left: 33px;
    top: 288px;
    margin-top: 970px;
    margin-left: -100px;
}

.ellipse4 {
    position: absolute;
    width: 42px;
    height: 42px;
    left: 33px;
    top: 288px;
    margin-top: 970px;
    margin-left: -220px;
}