.ellipse {
    position: absolute;
    width: 42px;
    height: 42px;
    left: 33px;
    top: 288px;
    margin-top: 970px;
    margin-left: 220px;
}

.ellipse4 {
    position: absolute;
    width: 62px;
    height: 62px;
    left: 563px;
    top: 1158px;
    background: #212121;
}