.footer {
    /* © Oyindamola 2020 */
    position: absolute;
    width: 134px;
    height: 18px;
    left: 670px;
    top: 2800px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    /* Gray 2 */
    color: #4F4F4F;
}