                    input[type=text],
                    select,
                    textarea {
                        width: 100%;
                        padding: 12px;
                        border: 1px solid #4F4F4F;
                        box-sizing: border-box;
                        margin-top: 6px;
                        margin-bottom: 16px;
                        resize: vertical;
                        color: #4F4F4F;
                        background-color: #000000;
                        font-family: 'DM Sans';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 14px;
                        line-height: 18px;
                        text-align: left;
                    }
                    
                    input[type=submit] {
                        background-color: #04AA6D;
                        font-family: 'DM Sans';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 18px;
                        color: #FFFFFF;
                        padding: 10px 40px 10px 40px;
                        border: none;
                        border-radius: 4px;
                        cursor: pointer;
                        margin-left: 430px;
                        margin-top: 15px;
                    }
                    
                    input[type=submit]:hover {
                        background-color: #45a049;
                    }
                    
                    .container {
                        border-radius: 5px;
                        padding: 20px;
                    }
                    
                    .boxForm {
                        box-sizing: border-box;
                        position: absolute;
                        width: 1168px;
                        height: 235px;
                        left: 141px;
                        top: 2179px;
                    }