.get h1 {
    position: absolute;
    width: 287px;
    height: 62px;
    left: 275px;
    top: 1994px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 62px;
    text-align: center;
    color: #FFFFFF;
}