.page {
    display: flex;
}

.page>* {
    padding: 1rem;
}

.sidebar {
    background: var(--color-primary-x-light);
    outline: 1px solid var(--color-primary);
    width: 14rem;
}

.page {
    border: 1px solid var(--color-stroke);
}