.html,
body {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 112px;
    margin-top: 28px;
    position: relative;
    width: 1440px;
    height: 3159px;
    background: #171717;
}

.margin-botton {
    margin-bottom: 112px;
}


/* 
.content {
    padding: 16px 0px 16px 16px
} */