.html,
body {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 112px;
    margin-top: 8px;
    position: relative;
    width: 1300px;
    height: 2959px;
    background: #171717;
}