.html,
body {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 417px 0px 417px;
    gap: 112px;
    position: relative;
    width: 606px;
    height: 2616px;
    background: #000000;
    margin-top: 28px;
}

.margin-botton {
    margin-bottom: 112px;
}


/* 
.content {
    padding: 16px 0px 16px 16px
} */