                                                                @media all and (min-width: 360px) and (max-width: 512px) {
                                                                    .html,
                                                                    body {
                                                                        flex-direction: column;
                                                                        justify-content: center;
                                                                        align-items: center;
                                                                        gap: 112px;
                                                                        margin-top: 28px;
                                                                        position: relative;
                                                                        width: 390px;
                                                                        height: 2959px;
                                                                        background: #171717;
                                                                    }
                                                                    .h1-hero {
                                                                        position: absolute;
                                                                        width: 253px;
                                                                        height: 124px;
                                                                        left: 40px;
                                                                        top: 175px;
                                                                        font-size: 28px;
                                                                    }
                                                                    .p-hero {
                                                                        /* Frontend Developer */
                                                                        position: absolute;
                                                                        width: 205px;
                                                                        height: 23px;
                                                                        left: 30px;
                                                                        top: 348px;
                                                                    }
                                                                    .button-s {
                                                                        position: absolute;
                                                                        width: 143px;
                                                                        height: 42px;
                                                                        left: 40px;
                                                                        top: 386px;
                                                                    }
                                                                    .button-ns {
                                                                        box-sizing: border-box;
                                                                        position: absolute;
                                                                        width: 143px;
                                                                        height: 42px;
                                                                        left: 193px;
                                                                        top: 386px;
                                                                    }
                                                                }
                                                                
                                                                @media all and (min-width: 512px) and (max-width: 1024px) {
                                                                    .html,
                                                                    body {
                                                                        flex-direction: column;
                                                                        justify-content: center;
                                                                        align-items: center;
                                                                        gap: 112px;
                                                                        margin-top: 28px;
                                                                        position: relative;
                                                                        width: 1300px;
                                                                        height: 2959px;
                                                                        background: #171717;
                                                                    }
                                                                }
                                                                
                                                                @media all and (min-width: 1200px) and (max-width: 2560px) {
                                                                    .html,
                                                                    body {
                                                                        flex-direction: column;
                                                                        justify-content: center;
                                                                        align-items: center;
                                                                        gap: 112px;
                                                                        margin-top: 28px;
                                                                        position: relative;
                                                                        width: 1300px;
                                                                        height: 2959px;
                                                                        background: #171717;
                                                                    }
                                                                }