            @import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');
            .text {
                font-family: DM Sans;
                color: #FFFFFF;
            }
            
            .h1 {
                /*             position: absolute;
 */
                width: 144px;
                height: 62px;
                left: 648px;
                top: 884px;
                font-family: 'DM Sans';
                font-style: normal;
                font-weight: 700;
                font-size: 48px;
                line-height: 62px;
                text-align: center;
                margin-left: 300px;
            }
            
            .subtitle {
                /*         position: absolute;
 */
                width: 745px;
                height: 136px;
                left: 347px;
                top: 984px;
                font-family: 'DM Sans';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 23px;
                text-align: center;
            }
            
            .h1-hero {
                position: absolute;
                width: 453px;
                height: 124px;
                left: 250px;
                top: 175px;
                font-family: 'DM Sans';
                font-style: normal;
                font-weight: 700;
                font-size: 48px;
                line-height: 62px;
                text-align: left;
            }
            
            .p-hero {
                /* Frontend Developer */
                position: absolute;
                width: 205px;
                height: 23px;
                left: 230px;
                top: 318px;
                font-family: 'DM Sans';
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 23px;
                /* Gray 3 */
                color: #828282;
                margin-top: 40px;
            }
            
            .text-card {
                font-family: 'DM Sans';
                font-style: normal;
                font-weight: 500;
                font-size: 36px;
                line-height: 37px;
                color: #535353;
            }
            
            .text-card4 {
                position: absolute;
                width: 86px;
                height: 23px;
                left: 270px;
                top: 1238px;
                font-family: 'DM Sans';
                font-style: normal;
                font-weight: 700;
                font-size: 18px;
                line-height: 23px;
                color: #FFFFFF;
            }
            
            .what h1 {
                /* What i do */
                position: absolute;
                width: 222px;
                height: 60.03px;
                left: 307px;
                top: 1107px;
                font-family: 'DM Sans';
                font-style: normal;
                font-weight: 700;
                font-size: 48px;
                line-height: 62px;
                text-align: center;
                color: #FFFFFF;
            }