    @import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');
    .text {
        font-family: DM Sans;
        color: #FFFFFF;
    }
    
    h1 {
        font-family: DM Sans;
        font-size: 48px;
        font-weight: 700;
        line-height: 62px;
        letter-spacing: 0em;
        text-align: center;
        margin-top: 40px;
    }
    
    .subtitle {
        font-family: DM Sans;
        font-size: 18px;
        font-weight: 400;
        line-height: 23px;
        letter-spacing: 0em;
        text-align: center;
    }