@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");
.html,
body {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 112px;
  margin-top: 28px;
  position: relative;
  width: 1300px;
  height: 2959px;
  background: #171717;
}

.margin-botton {
  margin-bottom: 112px;
}

.text {
  font-family: DM Sans;
  color: #FFFFFF;
}

.h1 {
  /*             position: absolute;
  */
  width: 144px;
  height: 62px;
  left: 648px;
  top: 884px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 62px;
  text-align: center;
  margin-left: 300px;
}

.subtitle {
  /*         position: absolute;
  */
  width: 745px;
  height: 136px;
  left: 347px;
  top: 984px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
}

.h1-hero {
  position: absolute;
  width: 453px;
  height: 124px;
  left: 250px;
  top: 175px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 62px;
  text-align: left;
}

.p-hero {
  /* Frontend Developer */
  position: absolute;
  width: 205px;
  height: 23px;
  left: 230px;
  top: 318px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  /* Gray 3 */
  color: #828282;
  margin-top: 40px;
}

.text-card {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 37px;
  color: #535353;
}

.text-card4 {
  position: absolute;
  width: 86px;
  height: 23px;
  left: 270px;
  top: 1238px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
}

.what h1 {
  position: absolute;
  width: 222px;
  height: 60.03px;
  left: 307px;
  top: 1107px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 62px;
  text-align: center;
  color: #FFFFFF;
}

.My-Skills h1 {
  position: absolute;
  width: 222px;
  height: 60.03px;
  left: 307px;
  top: 1507px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 62px;
  text-align: center;
  color: #FFFFFF;
}

.navigation {
  height: 70px;
}

.nav-container {
  max-width: 1000px;
  margin: 0 auto;
}

.brand {
  position: absolute;
  /*     padding-left: 20px;
  */
  float: left;
  width: 249px;
  height: 27px;
  line-height: 70px;
  text-transform: uppercase;
  font-size: 1.4em;
  margin-left: 40px;
}
.brand a,
.brand a:visited {
  color: #f1eaea;
  text-decoration: none;
}

nav {
  float: right;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  float: left;
  position: relative;
}
nav ul li a {
  display: block;
  padding: 10px 40px 0 20px;
  line-height: 50px;
  color: #f1eaea;
  text-decoration: none;
}
nav ul li a::before {
  transition: 300ms;
  height: 5px;
  content: "";
  position: absolute;
  /*                     background-color: $link-hover-color;
  */
  width: 0%;
  bottom: 0px;
}
nav ul li a:hover::before {
  width: 70%;
}
nav ul li a:not(:only-child):after {
  padding-left: 4px;
  content: " ▾";
}
nav ul li ul li {
  min-width: 190px;
}
nav ul li ul li a {
  padding: 15px;
  line-height: 20px;
}

.nav-dropdown {
  display: none;
  position: absolute;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  height: 70px;
  width: 70px;
}

@media only screen and (max-width: 799px) {
  .nav-mobile {
    display: block;
  }
  nav {
    width: 100%;
    padding: 70px 0 15px;
  }
  nav ul {
    display: none;
  }
  nav ul li {
    float: none;
  }
  nav ul li a {
    padding: 15px;
    line-height: 20px;
  }
  nav ul li a:hover::before {
    width: 20%;
  }
  nav ul li ul li a {
    padding-left: 30px;
  }
  .nav-dropdown {
    position: static;
  }
}
#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
}
#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  /*         background: $link-hover-color;
  */
  position: absolute;
  display: block;
  content: "";
  transition: all 300ms ease-in-out;
}
#nav-toggle span:before {
  top: -10px;
}
#nav-toggle span:after {
  bottom: -10px;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}

.about {
  position: absolute;
  width: 745px;
  height: 136px;
  left: 347px;
  top: 594px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
}

.article {
  margin-right: 32px;
  margin-bottom: 32px;
  width: 382px;
}

.page {
  display: flex;
}

.page > * {
  padding: 1rem;
}

.sidebar {
  background: var(--color-primary-x-light);
  outline: 1px solid var(--color-primary);
  width: 14rem;
}

.page {
  border: 1px solid var(--color-stroke);
}

.margin-b {
  margin-bottom: 30px;
}

.margin-t {
  margin-top: 10px;
  position: absolute;
  width: 745px;
  height: 136px;
  left: 70px;
  top: 4px;
}

.hero-image {
  width: 750.89px;
  height: 750.89px;
}

.button-s {
  position: absolute;
  width: 143px;
  height: 42px;
  left: 250px;
  top: 366px;
  background: #27AE60;
  margin-top: 50px;
  color: white;
}

.button-ns {
  box-sizing: border-box;
  position: absolute;
  width: 143px;
  height: 42px;
  left: 413px;
  top: 366px;
  background: #171717;
  border: 1px solid #F2F2F2;
  margin-left: 10px;
  margin-top: 50px;
  color: white;
}

* {
  box-sizing: border-box;
}

.card {
  padding: 5px;
  text-align: left;
  background-color: #212121;
  justify-content: space-between;
  margin-top: 150px;
  margin-left: 80px;
  height: 190px;
}

.column {
  float: left;
  width: 25%;
}

.card4 {
  padding: 5px;
  text-align: center;
  justify-content: space-between;
  margin-top: 620px;
  margin-left: 50px;
  height: 190px;
}

.column4 {
  float: left;
  width: 20%;
}

.row {
  margin: 0 85px 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.card-h {
  padding: 5px;
  text-align: center;
  justify-content: space-between;
  margin-top: 10px;
  margin-left: 200px;
  height: 180px;
}

.column-h {
  float: left;
  width: 20%;
}

.card-skill {
  padding: 0px;
  text-align: center;
  justify-content: space-between;
  top: 1679px;
  margin-left: 120px;
  height: 180px;
}

.column-skill {
  float: left;
  width: 10%;
}

.card-e {
  padding: 5px;
  text-align: left;
  justify-content: space-between;
  margin-top: 5px;
  margin-left: 80px;
  height: 70px;
}

.column-e {
  float: left;
  width: 40%;
}

.card-m {
  padding: 5px;
  text-align: left;
  justify-content: space-between;
  margin-top: 10px;
  margin-left: 80px;
  height: 190px;
}

.column-m {
  float: left;
  width: 87%;
}

.ellipse1 {
  position: absolute;
  width: 42px;
  height: 42px;
  left: 33px;
  top: 288px;
  margin-top: 970px;
  margin-left: 220px;
}

.ellipse2 {
  position: absolute;
  width: 42px;
  height: 42px;
  left: 33px;
  top: 288px;
  margin-top: 970px;
  margin-left: 520px;
}

.ellipse3 {
  position: absolute;
  width: 42px;
  height: 42px;
  left: 33px;
  top: 288px;
  margin-top: 970px;
  margin-left: -100px;
}

.ellipse4 {
  position: absolute;
  width: 42px;
  height: 42px;
  left: 33px;
  top: 288px;
  margin-top: 970px;
  margin-left: -220px;
}

.boxSkill {
  box-sizing: border-box;
  position: absolute;
  width: 1168px;
  height: 235px;
  left: 141px;
  top: 1679px;
  background: #212121;
  /* Gray 1 */
  border: 1px solid #333333;
}

.get h1 {
  position: absolute;
  width: 287px;
  height: 62px;
  left: 275px;
  top: 1994px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 62px;
  text-align: center;
  color: #FFFFFF;
}

.footer {
  /* © Oyindamola 2020 */
  position: absolute;
  width: 134px;
  height: 18px;
  left: 670px;
  top: 2800px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  /* Gray 2 */
  color: #4F4F4F;
}

input[type=text],
select,
textarea {
  width: 100%;
  padding: 12px;
  border-bottom: 1px solid #4F4F4F;
  border-right: 0px solid #4F4F4F;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  color: #4F4F4F;
  background-color: #000000;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  text-align: left;
}

input[type=submit] {
  background-color: #04AA6D;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
  padding: 10px 40px 10px 40px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 430px;
  margin-top: 15px;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  padding: 20px;
}

.boxForm {
  box-sizing: border-box;
  position: absolute;
  width: 1168px;
  height: 235px;
  left: 141px;
  top: 2179px;
}

@media all and (min-width: 360px) and (max-width: 512px) {
  .html,
body {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 112px;
    margin-top: 8px;
    position: relative;
    width: 390px;
    height: 2999px;
    background: #171717;
  }
  .brand {
    position: absolute;
    /*     padding-left: 20px;
    */
    float: left;
    width: 29px;
    height: 27px;
    line-height: 40px;
    text-transform: uppercase;
    font-size: 1.1em;
    margin-left: 40px;
  }
  .nav-container {
    max-width: 390px;
    margin: 0 auto;
  }
  nav ul li a {
    display: inline;
    line-height: 50px;
    color: #f1eaea;
    text-decoration: none;
  }
  .h1-hero {
    position: absolute;
    width: 253px;
    height: 124px;
    left: 40px;
    top: 175px;
    font-size: 28px;
  }
  .p-hero {
    /* Frontend Developer */
    position: absolute;
    width: 205px;
    height: 23px;
    left: 30px;
    top: 348px;
  }
  .button-s {
    position: absolute;
    width: 143px;
    height: 42px;
    left: 40px;
    top: 386px;
  }
  .button-ns {
    box-sizing: border-box;
    position: absolute;
    width: 143px;
    height: 42px;
    left: 193px;
    top: 386px;
  }
  .hero-image {
    width: 450.89px;
    height: 450.89px;
  }
  .card-h {
    padding: 0px;
    text-align: center;
    margin-top: 410px;
    margin-left: -40px;
    height: 10px;
    width: 222px;
  }
  .column-h {
    float: left;
    width: 10%;
  }
  .row {
    margin: 0 0px 0px;
  }
  .about {
    position: absolute;
    width: 445px;
    height: 136px;
    left: 57px;
    top: 994px;
  }
  .h1 {
    /*             position: absolute;
                                                                   */
    width: 14px;
    height: 62px;
    left: 248px;
    top: 884px;
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 62px;
    text-align: center;
    margin-left: 130px;
  }
  .subtitle {
    /*         position: absolute;
                                                                   */
    width: 345px;
    height: 156px;
    left: 347px;
    top: 984px;
    font-size: 15px;
    /*          margin-left: 50px;
    */
  }
  .My-Skills h1 {
    position: absolute;
    width: 222px;
    height: 60.03px;
    left: -27px;
    top: 3117px;
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 62px;
    text-align: center;
    color: #FFFFFF;
  }
  .boxSkill {
    box-sizing: border-box;
    position: absolute;
    width: 200px;
    height: 835px;
    left: 80px;
    top: 3220px;
    background: none;
    /* Gray 1 */
    border: 1px solid #000000;
  }
  .card-skill {
    padding: 0px;
    text-align: center;
    justify-content: space-between;
    top: 2779px;
    margin-left: 20px;
    height: 180px;
  }
  .column-skill {
    float: left;
    width: 40%;
  }
  .get h1 {
    position: absolute;
    width: 237px;
    height: 62px;
    left: -25px;
    top: 4000px;
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 62px;
    text-align: center;
    color: #FFFFFF;
  }
  .boxForm {
    box-sizing: border-box;
    position: absolute;
    width: 328px;
    height: 235px;
    left: 23px;
    top: 4050px;
  }
  .card-e {
    padding: 5px;
    text-align: left;
    justify-content: space-between;
    margin-top: 5px;
    margin-left: 90px;
    height: 50px;
  }
  .column-e {
    float: left;
    width: 60%;
  }
  input[type=submit] {
    background-color: #04AA6D;
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    padding: 10px 40px 10px 40px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 30px;
    margin-top: 15px;
  }
  .card {
    padding: 5px;
    text-align: left;
    background-color: #212121;
    justify-content: space-between;
    margin-top: 150px;
    margin-left: 80px;
    height: 190px;
  }
  .column {
    float: left;
    width: 100%;
  }
  .boxSkill2 {
    box-sizing: border-box;
    position: absolute;
    width: 220px;
    height: 835px;
    left: 40px;
    top: 2079px;
  }
  .boxSkill3 {
    box-sizing: border-box;
    position: absolute;
    width: 220px;
    height: 835px;
    left: 70px;
    top: 579px;
    justify-content: center;
  }
  .card4 {
    padding: 5px;
    text-align: center;
    margin-top: 750px;
    margin-left: 50px;
    margin-bottom: -550px;
    height: 10px;
  }
  .column4 {
    float: left;
    width: 30%;
  }
  .text-card {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 37px;
    color: #535353;
  }
  .footer {
    /* © Oyindamola 2020 */
    position: absolute;
    width: 134px;
    height: 18px;
    left: 150px;
    top: 4600px;
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    /* Gray 2 */
    color: #4F4F4F;
  }
  .what h1 {
    position: absolute;
    width: 132px;
    height: 60.03px;
    left: 20px;
    top: 2107px;
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 62px;
    text-align: center;
    color: #FFFFFF;
  }
}
@media all and (min-width: 512px) and (max-width: 1024px) {
  .html,
body {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 112px;
    margin-top: 28px;
    position: relative;
    width: 1300px;
    height: 2959px;
    background: #171717;
  }
}
@media all and (min-width: 1200px) and (max-width: 2560px) {
  .html,
body {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 112px;
    margin-top: 28px;
    position: relative;
    width: 1300px;
    height: 2959px;
    background: #171717;
  }
}/*# sourceMappingURL=style.css.map */